@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  @apply relative block h-10 mt-4 ml-2 text-center;
}
/* Hide content when screen is small md:block hidden */
.title {
  @apply relative hidden h-10 mt-5 text-center md:block;
}


.brand-title {
  @apply relative block h-10 mt-5 ml-4 text-center;
}

.navigation li:hover {
  @apply before:shadow-2xl before:rounded-full before:-top-10 before:absolute before:right-0.5 before:w-10 before:h-10 before:bg-transparent;
}

.navigation li:hover {
  @apply after:shadow-bxl after:rounded-full after:-bottom-10 after:absolute after:right-0.5 after:w-10 after:h-10 after:bg-transparent;
}

.hovered {
  @apply bg-white text-blue-900 before:shadow-2xl before:rounded-full before:-top-10 before:absolute before:right-0.5 before:w-10 before:h-10;
  @apply after:shadow-bxl after:rounded-full after:-bottom-10 after:absolute after:right-0.5 after:w-10 after:h-10;
}

isActive {
  @apply w-16;
}

.cardBox:hover .icon,
.cardBox:hover .number,
.cardBox:hover .cardName {
  color: white !important;
}
/* 
.details table thead td {
  @apply font-semibold p-2
}

.details table thead td:last-child {
  text-align: end;
}

.details  table tr {
  @apply text-black border-b-2
} 
.details  table tr:last-child {
  @apply border-b-0
}

.details table tr:hover {
  @apply bg-blue-700 text-white
}

.details table tr td {
  @apply p-2
}

.details table tr td:last-child {
  text-align: end;
}

.hamburger {
  @apply hidden md:block
} */